{% include "header.html" %}

  <!-- Section Header -->
  <section class="header" style="background-image: url('https://images.unsplash.com/photo-1608555307638-992062b31329?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjR8fHRleHR1cmUlMjBiYWNrZ3JvdW5kfGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="sub-section">
            <h1>My Lists</h1>
            <span class="subheading">Welcome {{current_user.name}}!</span>
          </div>
        </div>
      </div>
    </div>
  </section>

<section>
    {% if lists: %}
    <div class="container current-list">
        <div class="row list-item">
            {% for list in lists: %}
            <div class="col-lg-3 col-md-4 col-sm-6 mx-auto">
                <a href="{{url_for('show_tasks', list_id=list.id)}}"><div class="btn btn-dark btn-lg list-item">{{list.list}}</div></a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="buttons">
    <a class="btn btn-dark btn-lg" href="{{url_for('add_list') }}">Add New List</a>
    </div>
</section>

{% include "footer.html" %}